* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #f5f5f5
}

html {
  margin: 20px;
  min-height: fit-content;
  padding: 20px;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#search-box {
  font-size: 20px;
  margin-bottom: 10px;
}

#search-box label {
  font-weight: lighter;
  letter-spacing: 1px;
}

#search-box input {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 2px solid #aeadad;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

#search-box input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

/* Country List  Styles */

.country-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  max-width: 800px;
  gap: 10px;
  padding: 20px;
}

.country-list-wrapper ul {
  list-style: disc;
  padding: 0;
  margin: 0;
  font-size: larger;
}

.country-list-wrapper li {
  margin: 10px 0;
  padding: 10px;
  width: fit-content;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: medium;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  word-spacing: 1px;
}

img:first-of-type {
  width: 150px;
  height: 100px;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

img:nth-of-type(2) {
  width: 150px;
  height: 100px;
  object-fit: contain;
  transition: transform 0.2s ease;
}

.languages-list {
  font-weight: 600;
  font-size: larger;
}

/* Countries List Styles */

.countries-list-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  max-width: 700px;
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
}

.countries-list-wrapper button {
  position: absolute;
  right: 10px;
  padding: 5px;
  width: 150px;
  border: 2px solid #aeadad;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.countries-list-wrapper button:hover {
  background-color: #4a90e2;
  color: #fff;
  cursor: pointer;
}

.countries-list-wrapper h2 {
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  margin: 0;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font: 2.5rem sans-serif;
  font-weight: bolder;
}